<section class="closed" [style.visibility]="!openChat ? 'visible' : 'hidden'">
    <div class="message">
      <p>Clique aqui para começar a conversar</p>
    </div>  
    <button mat-fab id="open-chat-btn" (click)='openChat = !openChat' matTooltip="Abrir chat">
      <mat-icon>chat</mat-icon>
    </button>
</section>

<section class="opened" [style.visibility]="openChat ? 'visible' : 'hidden'">
  <div class="title" (click)='openChat = !openChat' matTooltip="Fechar Chat">
    <h3>Watson Assistant</h3>
  </div>
  <div class="body" >
    <div *ngFor='let message of chatHistory' [class.message]='!message.bot' [class.message-bot]='message.bot' style="margin-top: 10px">
      <span *ngIf="message.type === 'text'">{{message.text}}</span>
      <span *ngIf="message.type === 'option'">
        <p style="font-weight: bold;">{{message.title}}</p>
        <ul *ngFor='let button of message.buttons'>
          <a href="#" (click)='sendMessage(button.value.input.text)'><li>{{button.label}}</li></a>
        </ul>
      </span>
      <span *ngIf="message.type === 'image'">
        <p *ngIf="message.title" style="font-weight: bold;">{{message.title}}</p>
        <img [src]="message.img" width="30%">
        <p *ngIf="message.description">{{message.description}}</p>
      </span>
      <img>
    </div>
  </div>
  <mat-form-field class="input-area" color="accent">
    <input matInput type="text" (keyup.enter)="sendMessage(message)" [(ngModel)]="message" [ngModelOptions]="{standalone: true}">
    <mat-placeholder class="placeholder">Coloque sua mensagem aqui...</mat-placeholder>
  </mat-form-field>

</section>
